/* HEADER */
.Header {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: #eee;
    background: #111;
    z-index: 1;
}

.nav-title {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    padding-left: 3%;
    flex-basis: 40%;
    font-size: 50px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.nav-bar-active { 
    background: white;
}

.nav-text {
    transition: 0.2s ease-out;
}

.nav-bar-active .normal-container .nav-text{ 
    color: black;
    transform: scale(1.2);
}

.nav-bar a {
    text-decoration: none;
    width: 100px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.nav-link:hover .normal-container .nav-text{
    transform: scale(1.2);
}

.nav-link {
    color: white;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.basket-container {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-out;
}

.basket-number {
    opacity: 1;
    margin: 0px;
    position: absolute;
    right: -18px;
    bottom: 13px;
    color: black;
    text-align: center;
    background: white;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.header-basket-empty {
    opacity: 0;
}

.nav-link:hover .basket-container{
    transform: scale(1.2);
}

.nav-bar-active .basket-container{ 
    transform: scale(1.2);
}

.nav-bar-active .basket-container .nav-text{ 
    color: black;
}

.nav-bar-active .basket-container .basket-number{ 
    background: black;
    color: white;
}