html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.Header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    background: coral;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link {
    margin: 0 30px;
    cursor: pointer;
}

.HomePage {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkseagreen;

}

.ShoppingPage {
    height: 80%;
    display: flex;
    align-items: center;
    background: lightgoldenrodyellow;
}

.side-bar {
    height: 100%;
    flex-basis: 30%;
    background: lightseagreen;
}

.product-list {
    height: 100%;
    width: 100%;
    background: mediumpurple;
}

.Footer {
    height: 10%;
    background: steelblue;
}

