* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/* HEADER */
.Header {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    color: white;
    background: black;
}

.nav-title {
    margin: 20px 0;
    flex-basis: 40%;
    font-size: 50px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar a {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    transition: 0.2s ease-in-out;
}

.nav-bar a:hover {
    transform: scale(1.2);
}

.nav-link {
    margin: 10px 0;
    padding-right: 17px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.basket-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.basket-number {
    opacity: 1;
    margin: 0px;
    position: absolute;
    right: 0px;
    color: black;
    text-align: center;
    background: white;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.git-link, .fb-link, .email-link {
    padding: 0;
}

/* Home Page */
.HomePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.FirstPage {
    background: url("./images/gogh.jpg") no-repeat center center/cover;
}

.SecondPage {
    background: url("./images/medusa.jpg") no-repeat center center/cover;
}

.ThirdPage {
    background: url("./images/wallart.jpg") no-repeat center center/cover;
}

.ShoppingPage {
    height: 100%;
    display: flex;
    align-items: center;
    background: lightgoldenrodyellow;
}

.side-bar {
    height: 100%;
    flex-basis: 20%;
    background: lightseagreen;
}

.product-list {
    height: 100%;
    width: 100%;
    background: mediumpurple;
}

/* FOOTER */
.Footer {
    height: 380px;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: black;
    color: white;
}

.footer-section-title {
    margin-bottom: 15px;
}

.contact-us {
    /* flex-grow: 0.5; */
    width: 30%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.contact-us form{
    display: flex;
    flex-direction: column;
}

.contact-us form label {
    font-size: 19px;
    margin-bottom: 7px;
}

.contact-us form input {
    font-size: 17px;
    width: 100%;
}

.contact-us form .form-component {
    display: flex;
    flex-direction: column;
}

.contact-us form .first-row{
    display: flex;
    justify-content: space-between;
}

.contact-us form .first-row .form-name {
    margin-bottom: 10px;
    padding-right: 10px;
}

.contact-us form .second-row .form-email{
    margin-bottom: 10px;
}

.contact-us form .third-row .form-comment textarea {
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.sitemap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detail-link {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.detail-link h3 {
    flex-grow: 1;
    align-self: center;
    padding-left: 20px;
}


