* {
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    --colour-red: rgba(168, 14, 14, 1);
    --colour-grey: rgba(129, 123, 123, 1);
    --colour-gold: rgba(199, 139, 11, 1);
}

html, body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

/* HEADER */
.Header {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: #eee;
    background: #111;
    z-index: 1;
}

.nav-title {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
    padding-left: 3%;
    flex-basis: 40%;
    font-size: 50px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-right: 3%; */
    overflow: hidden;
}

.nav-bar-active { 
    background: white;
}

.nav-bar-active .nav-link{ 
    color: black;
    transform: scale(1.2);
}

.nav-bar a {
    text-decoration: none;
    width: 100px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.nav-bar a:hover .nav-link{
    transform: scale(1.2);
}

.nav-link {
    margin: 10px 0;
    color: #eee;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.basket-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.basket-number {
    opacity: 1;
    margin: 0px;
    position: absolute;
    right: 0px;
    color: #111;
    text-align: center;
    background: #eee;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.header-basket-empty {
    opacity: 0;
}

.git-link, .fb-link, .email-link {
    padding: 0;
}

/* SEARCH BAR */
.SearchModal {
    margin-top: 100px;
    height: 100%;
}

.modal-search-wrapper {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
}

.modal-search-wrapper-light {
    background-color:rgba(0, 0, 0, 0.5);
}

.modal-search-wrapper-dark {
    background-color:rgba(0, 0, 0, 0.55);
}

.modal-search-inner {
    position: absolute;
    top: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-search-searchbar {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
  
.modal-search-input {
    color: black;
    height: 100%;
    width: 250px;
    border: none;
    font-size: 35px;
}

.modal-search-input:focus {
    outline-width: 0;
}

.modal-search-button {
    background-color: transparent;
    border: none;
    width: 30px;
}

.modal-search-results {
    width: 100%;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-search-item {
    margin-bottom: 30px;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.modal-search-item:hover {
    transform: scale(1.1);
}

/* Home Page */
.HomePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.page .text-container{
    position: absolute;
    width: 30%;
    padding: 0 25px;
}

.page .text-container .header-container p{
    font-size: 30px;
    font-weight: 600;
}

.page .text-container p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    transition: 0.2s ease-out;
}

.page .text-container .home-link {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    transition: 0.15s ease-out;
}

.page .text-container .home-link h3{
    margin: 20px 0;
    padding: 15px;
    transition: 0.15s ease-out;
}

.page .text-container .home-link h3:hover{
    transform: scale(1.05);
}

.FirstPage {
    background: url("./images/bus.jpg") no-repeat center center/cover;
    position: relative;
}

.FirstPage .text-container .header-container span{
    color: var(--colour-red);
    transition: 0.15s ease-out;
}

.FirstPage .text-container {
    left: 10%;
    background: #111;
    color: #eee;
    transition: 0.15s ease-out;
}

.FirstPage .text-container .home-link h3{
    background: var(--colour-red);
}

.SecondPage {
    background: url("./images/cal.jpg") no-repeat center center/cover;
    position: relative;
}

.SecondPage .text-container .header-container span{
    color: var(--colour-grey);
}

.SecondPage .text-container {
    right: 10%;
    background: #111;
    color: #eee;
}

.SecondPage .text-container .home-link h3{
    background: var(--colour-grey);
}

.ThirdPage {
    background: url("./images/gold_statue.jpg") no-repeat center center/cover;
    position: relative;
}

.ThirdPage .text-container .header-container span{
    color: var(--colour-gold);
}

.ThirdPage .text-container {
    left: 10%;
    background: #111;
    color: #eee;
}

.ThirdPage .text-container .home-link h3{
    background: var(--colour-gold);
}


/*  SHOPPING PAGE */
.ShoppingPage {
    background-position: center;
    margin-top: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transition: 0.3s ease-out;
}

/*  SHOPPING PAGE SIDE-BAR*/
.side-bar {
    height: 100%;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease-out;
    position: relative;
}

.side-bar-red-active{
    background-color: var(--colour-red);
}

.side-bar-grey-active {
    background-color: var(--colour-grey);
}

.side-bar-gold-active {
    background-color: var(--colour-gold);
}

.side-bar h3 {  
    width: 100%;
    margin-top: 30px;
    font-size: 35px;
    background: #111;
    color: #eee;
    padding: 10px 0;
    text-align: center;
}

.side-bar .side-bar-link-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.side-bar .side-bar-link {
    text-decoration: none;
    color: #eee;
}

.side-bar .side-bar-link p{
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s ease-out;
    background-color: black;
}

.side-bar .side-bar-link .side-bar-text:hover {
    transform: scale(1.1);
}

.side-bar .side-bar-link-red-active p{
    background-color: var(--colour-red);
    transform: scale(1.1);
    color: black;
}   

.side-bar .side-bar-link-grey-active p{
    background-color: var(--colour-grey);
    transform: scale(1.1);
    color: black;
}   

.side-bar .side-bar-link-gold-active p{
    background-color: var(--colour-gold);
    transform: scale(1.1);
    color: black;
}   

/*  SHOPPING PAGE PRODUCT LIST*/
.product-list {
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/* .product-list>* {
    flex: 0 0 50%;
} */

.product-list > :last-child {
    margin-bottom: 3%;
}

.product-list .item {
    width: 50%;
    height: 50%;
    text-align: center;
}

.product-list .item .item-link {
    text-decoration: none;
    color: black;
}

.product-list .item .item-name{
    padding: 20px 0;
}

.product-list .item .item-padding-container{
    height: 80%;
    margin: 30px;
    padding-top: 20px;
    background: white;
    transition: 0.5s ease-out;
}

.product-list .item .item-padding-container .item-image-container{
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.product-list .item img {
    width: 100%;
    height: auto;
    transition: 0.5s ease-out;
}

.product-list .item .item-padding-container:hover{
    background: #eee;
}

.product-list .item .item-padding-container:hover img{
    transform: scale(1.2);
}

.product-list .item .item-name {
    font-size: 27px;
}

/* ITEM PAGE */
.ItemPage {
    /* background-position: center; */
    background: #fff;
    margin-top: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    transition: 0.3s ease-out;
}

.product-display-container {
    height: 100%;
    /* width: 100%; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
    flex-grow: 1;
}

.product-display-image {
    height: 80%; 
}

.buy-bar-container {
    padding: 40px;
    height: 80%;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    transition: 0.3s ease-out;
    position: relative;
}

.buy-bar-text-container {
    flex-grow: 1;
}

.buy-bar-text-header {
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
}

.buy-bar-text-body {
    font-size: 18px;
}

.buy-bar-price-stock-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 20px;
}

.buy-bar-button-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
}

.buy-bar-quantity {
    height: 100%;
    display: flex;
    align-items: center;
}

.buy-bar-quantity-increment,
.buy-bar-quantity-decrement {
    box-sizing: border-box;
    background-color: #eee;
    height: 100%;
    width: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buy-bar-quantity-disable {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}

.buy-bar-quantity-input::-webkit-outer-spin-button,
.buy-bar-quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buy-bar-quantity-input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.buy-bar-quantity-input {
    box-sizing: border-box;
    font-size: 20px;
    width: 40px;
    height: 100%;
    border: none;
    text-align: center;
    user-select: none;
}

.buy-bar-quantity-input:focus {
    outline-width: 0;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.buy-bar-button {   
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 0 15px;
    background-color: black;
    color: white;
    transition: 0.2s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-bar-button-disable{
    content: "Out of Stock";
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}

.buy-bar-button-red:hover {
    background: var(--colour-red);
}

.buy-bar-button-grey:hover {
    background: var(--colour-grey);
}

.buy-bar-button-gold:hover {
    background: var(--colour-gold);
}

/* BASKET */
.BasketPage {
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.basket-empty {
    font-size: 35px;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}

.basket-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.basket-item {
    box-sizing: border-box;
    border: 2px solid black;
    margin-top: 50px;
    height: 100px;
    width: 80%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-item-info {
    height: 100%;
    width: 60%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 50px;
}

.basket-item-info > * {
    width: 30%;
}

.basket-item-image-container {
    height: 80%;
    display: flex;
}

.basket-item-image {
    height: 100%;
    background-size: contain;
}

.basket-item-name {
    font-size: 25px;
    font-weight: 600;
}

.basket-item-quantity {
    font-size: 20px;
    font-weight: 600;
}

.basket-item-delete {
    background: black;
    padding: 5px 15px;
    margin: 0 50px;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.basket-item-delete:hover {
    background-color: crimson;
    transform: scale(1.1);
}

.basket-checkout {
    margin-top: 50px;
    height: 100px;
    width: 80%;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.basket-checkout-disable {
    opacity: 0;
    visibility: hidden;
}

.basket-checkout-link {
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.basket-checkout-button {
    font-size: 20px;
    padding: 20px;
    background: black;
    font-weight: 600;
    color: white;
    transition: 0.2s ease-out;
}

.basket-checkout-button:hover {
    transform: scale(1.05);
}

/* FOOTER */
.Footer {
    height: 400px;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: #111;
    color: #eee;
}

.footer-section-title {
    margin-bottom: 15px;
}

.contact-us {
    width: 30%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.contact-us form{
    display: flex;
    flex-direction: column;
}

.contact-us form label {
    font-size: 19px;
    margin-bottom: 7px;
}

.contact-us form input {
    font-size: 17px;
    width: 100%;
}

.contact-us form .form-component {
    display: flex;
    flex-direction: column;
}

.contact-us form .first-row{
    display: flex;
    justify-content: space-between;
}

.contact-us form .first-row .form-name {
    margin-bottom: 10px;
    padding-right: 10px;
}

.contact-us form .second-row .form-email{
    margin-bottom: 10px;
}

.contact-us form .third-row .form-comment textarea {
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.contact-us form .fourth-row {
    margin: 10px 0;
}

.contact-us form .fourth-row input{
    padding: 4px;
}

.sitemap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-link {
    color: #eee;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details h1{
    font-size: 37px;
    font-family: 'Times New Roman', Times, serif;
}

.detail-link {
    color: #eee;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.detail-link h3 {
    flex-grow: 1;
    align-self: center;
    padding-left: 20px;
}


